<mat-card class="menmetics-card">
  <mat-card-header>
    <div mat-card-avatar class="menmetics-header-image"></div>
    <mat-card-title>L'Oréal Paris Men Expert Vitalift - Gel Anti-Arrugas de Absorción Rápida - 50 ml
    </mat-card-title>
    <mat-card-subtitle>por L'Oréal</mat-card-subtitle>
  </mat-card-header>
  <img class="product-image" mat-card-image src="https://m.media-amazon.com/images/I/717Femx-1vL._AC_SL1500_.jpg"
       alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Descubre el Gel Antiarrugas Absorción Rápida Vita Lift de L'Oréal Men Expert. Enriquecido con extracto de
      viña francesa, suaviza la piel al instante, reduce visiblemente las arrugas y protege a la piel contra las
      agresiones externas que contribuyen a su envejecimiento visible.
    </p>
  </mat-card-content>
  <mat-card-actions class="buy-price">
    <button mat-button>
      <a href="https://www.amazon.es/gp/product/B07BYSW1WX/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=menmetics09-21&creative=24630&linkCode=as2&creativeASIN=B07BYSW1WX&linkId=ec71f1d70551dee10b27754a2a562b02">
        COMPRAR
      </a>
    </button>
  </mat-card-actions>
</mat-card>

